.main_container{
    background:url(../imgs/zixun_bg.png) no-repeat;
    background-size:cover;
}
.header{
    margin:1.546667rem 0 0 0.36rem;
}
.header img{
    display:inline-block;
}
.zx_neirong{
    width:3.733333rem;
    height:0.88rem;
}
.zx_img{
    width:1.2rem;
    height:0.44rem;
}
.message_part{
    margin:0 auto;
    width:9.066667rem;
    height:7.866667rem;
    border-radius:10px;
    margin-top:0.2rem;
    overflow-y:scroll;
    border:0.106667rem solid #00a0e9;
}
[data-dpr='1'] .zx_title{
    font-size:17px;
}
[data-dpr='3'] .zx_title{
    font-size:50px;
}
.zx_title{
    width:100%;
    height:auto;
    margin:0.44rem 0 0.586667rem 0;
    color: white;
    font-size:34px;
}
.zx_text{
   margin-right:1rem;
}
[data-dpr='1'] .zx_detail{
    font-size:12px;
}
[data-dpr='3'] .zx_detail{
    font-size:36px;
}
.zx_detail{
    font-size:24px;
    color:white;
    margin-top:0.506667rem;
    word-wrap:break-word;
    text-align:justify;
    line-height:0.5rem;
}
.zx_detail span{
    padding-left:1.5rem;
}
.footer{
   position: absolute;
   width:100%;
   text-align:center;
   color:white;
   width:8.666667rem;
   left:50%;
   margin-left:-4.333333rem;
}