*{
    margin:0px;
    padding:0px;
}
html,body{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    background:#010e21;
}

li{
    list-style:none;
}
.container{
    width:1200px;
    height:auto;
    margin:0 auto;
}
.header{
    width:1200px;
    height:158px;
    background:url(../imgs/titile_img.png) no-repeat;
    background-size:cover;
}
.centerbox{
    width:1200px;
    min-height:977px;
    background:#021632;
}
.titile_text{
    font-size:28px;
    color:white;
    font-weight:bold;
    padding:22px 0 0 26px;
}
.td_C{
    margin-left:65px;
    padding-top:43px;
    height:65px;
    line-height:65px;
}
.lei_text{
    font-size:36px;
    color:white;
    /*font-weight:bold;*/
    display:inline-block;
    float: left;
}
.td_btn{
    width:170px;
    height:65px;
    display:inline-block;
    margin-left:208px;
}
.td_nav{
    width:1000px;
    height:132px;
    background:#078cd1;
    margin-left:65px;
    margin-top:30px;
}

.td_nav ul{
    width:100%;
    overflow:hidden;
    margin-bottom:17px;
}
.td_ul_1{
    padding:35px 0 0 35px;
}
.td_ul_2{
    margin-left:35px;
}
.td_nav li{
    float: left;
    min-width:293px;
    height:24px;
    color:white;
    font-size:16px;
    line-height:24px;
}
.td_detial_C{
    width:1000px;
    height:auto;
    margin:60px 0 0 100px;
    background:url(../imgs/sc_4_bg.png) no-repeat;
    background-size:cover;
}
.td_detial_1{
    width:100%;
    min-height:279px;
}
.detail_title{
    width:102px;
    height:36px;
    background:#078cd1;
    color:white;
    font-size:15px;
    line-height:36px;
    font-weight:bold;
    text-align:center;
}
.detial_text_C p{
    color:white;
    font-size:16px;
    height:23px;
    line-height:23px;
    margin-bottom:28px;
}
.text_top{
    margin-top:15px;
}
a{
    color:white;
    text-decoration:none;
}
.lei_footer{
    width:1200px;
    height:95px;
    line-height:95px;
    text-align:center;
    font-size:16px;
    color:white;
    background:url(../imgs/foot_bg.png) no-repeat;
    background-size:cover;
}